body {
  background-image: url("../img/bg.gif");
  background-repeat: repeat;
  font-family: "M PLUS 2", sans-serif;
  color: #812663;
}

a {
  color: #fff;
}

@media (max-width: 832px) {
  main {
    width: 100%;
    height: 100%;
    background-color: rgba(255 255 255 / 90%);
    box-sizing: border-box;
  }
}

@media (min-width: 833px) {
  main {
    max-width: 44.4vw;
    height: 100%;
    margin: 0 auto;
    background-color: rgba(255 255 255 / 90%);
    overflow-x: hidden;
    box-sizing: border-box;
  }
}

@media (min-width: 833px) {
  .main-image {
    position: relative;
    width: 100%;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media (max-width: 832px) {
  .main-image {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 832px) {
  .left {
    display: none;
  }
  .right {
    display: none;
  }
}

@media (min-width: 833px) {
  .left {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    padding-bottom: 140px;
    position: fixed;
    top: 0;
    width: calc((100vw - 45vw) / 2);
    z-index: 1;
    background-color: rgb(247 247 238 / 90%);
    gap: 40px;
    text-align: center;
    overflow: hidden;
  }

  .left-inner {
    position: relative;
    z-index: 2;

    p {
      margin-bottom: 16px;
    }
    img {
      width: 80%;
      margin-bottom: 60px;
    }
    img:nth-of-type(2) {
      width: 250px;
    }
  }

  .left-bg {
    position: relative;
    width: 100%;
    z-index: 1;
    img {
      position: absolute;
      bottom: -100px;
      right: 10%;
      width: 250px;
    }
  }

  .left-bg:before {
    content: "";
    width: 54.7rem;
    height: 46.5rem;
    background-image: url(../img/left-bg.svg);
    background-size: cover;
    display: block;
    position: absolute;
    top: 0;
    left: -13rem;
  }

  .right {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding-bottom: 140px;
    position: fixed;
    right: 0;
    top: 0;
    width: calc((100vw - 45vw) / 2);
    z-index: 1;
    background-color: rgba(244 50 154 / 90%);
  }
}

/* ===========================================================
スライダー
=========================================================== */
.slider {
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  opacity: 1;
}

.social {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.icon-instagram,
.icon-tiktok {
  width: 7.6%;
}

/* ===========================================================
marquee
=========================================================== */
.marquee-container {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;
}

.marquee {
  display: flex;
  white-space: nowrap;
  color: rgba(244 50 154 / 90%);
  font-size: 120px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  animation: scroll 10s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* ===========================================================
main-body
=========================================================== */
.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  box-sizing: border-box;
  gap: 40px;
  h2 {
    font-family: "Montserrat", serif;
    font-weight: 900;
    font-size: 8rem;
  }
  .main-body_text {
    width: calc(100% - 240px);
    font-size: 1.6rem;
    line-height: 1.8;
  }
  p {
    font-size: 1.6rem;
    line-height: 1.8;
  }
  .main-body_header {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    img:nth-of-type(1) {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
    img:nth-of-type(3) {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }
  .main-body_main {
    display: flex;
    flex-direction: column;
    gap: 120px;
    position: relative;

    .flex {
      display: flex;
      text-align: left;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .miura {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .cow-container {
        display: flex;
        gap: 10px;
        overflow: hidden;
        height: auto;
      }
      h3 {
        font-size: 3.6rem;
        font-weight: 900;
        margin-bottom: 20px;
        align-self: flex-start;
      }
      .cow {
        width: 100px;
        height: auto;
        object-fit: cover;
        align-self: flex-end;
        margin-bottom: 30px;
      }
    }
    .shacho {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .hammer-container {
        display: flex;
        gap: 5px; /* 画像同士の隙間を狭くする */
        align-items: flex-start; /* ハンマー画像を上端に揃える */
        height: auto; /* 高さをコンテンツに合わせる */
      }
      h3 {
        font-size: 3.6rem;
        font-weight: 900;
        margin-bottom: 20px;
        align-self: flex-start;
      }
      .hammer {
        width: 100px;
        height: auto;
        object-fit: cover;
        align-self: flex-start;
        margin-bottom: 30px;
      }
      .hammer {
        position: relative;
        animation: tilt 1s infinite alternate ease-in-out;
      }
      @keyframes tilt {
        0% {
          transform: rotate(-5deg);
        }
        100% {
          transform: rotate(5deg);
        }
      }
      .cow {
        position: relative;
        animation: walkInContainer 10s linear infinite;
      }
      @keyframes walkInContainer {
        0% {
          transform: translateX(100%) translateY(0) rotate(0deg);
        }
        25% {
          transform: translateX(75%) translateY(-5px) rotate(-2deg);
        }
        50% {
          transform: translateX(50%) translateY(0) rotate(0deg);
        }
        75% {
          transform: translateX(25%) translateY(-5px) rotate(2deg);
        }
        100% {
          transform: translateX(0) translateY(0) rotate(0deg);
        }
      }
    }
  }
  .main-body_footer {
    width: 80%;
    margin: 0 auto;
    h3 {
      font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
      margin-bottom: 20px;
      position: relative;
    }
    .flex {
      display: flex;
      gap: 60px;
      justify-content: center;
      width: 100%;
      img {
        width: 60px;
        height: auto;
        object-fit: contain;
      }
      img:nth-of-type(1) {
        color: #f26939;
      }
    }
  }
}

.headline-03 {
  width: 29.5rem;
  height: 4.5rem;
  margin: 0 auto 5rem;
  padding: 0 2rem;
  border: 2px solid #ba378f;
  border-radius: 0.25rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 2.9rem;
  line-height: 1;
  color: #e53793;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.headline-03.bg-yellow::before {
  background-color: #e53793;
  top: 0.6rem;
  left: 0.7rem;
}

.headline-03::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #eee;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.carousel-container {
  width: 100%; /* コンテナの幅を親要素に合わせる */
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.carousel {
  display: flex;
  animation: loopCarousel 50s linear infinite; /* 無限ループのアニメーション */
}

.carousel-item {
  flex: 0 0 calc(33.33% - 10px); /* 3枚見えるように調整 */
  margin-right: 30px; /* 画像間の余白 */
  transform: rotate(10deg);
}

.carousel-item img {
  width: 100%; /* アイテムの幅に合わせる */
  height: auto;
  display: block;
}

@keyframes loopCarousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 10px)); /* アイテムの幅 + 余白分 */
  }
}
